<p id="notice"><%= notice %></p>

<p>
  <strong>Name type:</strong>
  <%= @type_project.name_type %>
</p>

<%= link_to 'Edit', edit_type_project_path(@type_project) %> |
<%= link_to 'Back', type_projects_path %>
